body
{
    margin: 00;
    padding: 0;
}
.container
{
  width: 20%;
    margin-right: 10%;
    margin-left: 10%;
    background-color: rgb(165, 185, 207);
    margin-top: 10%;
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
}
.label
{
    display: inline-block;
    width: 240px;
    
}
.input[type=button]
{
    text-align: center;
    padding: 12px 20 px;
    margin: 8px;
    box-sizing: border-style;
    
}